<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Pourquoi participer ?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <p>De nombreux entrepreneurs se focalisent sur la recherche d'investisseurs et la perfection de leur pitch, négligeant un aspect crucial : l'interaction continue avec les investisseurs potentiels.
"Les Relations Investisseurs assistées par l'IA" va plus loin. 
En plus des techniques classiques de levée de fonds, vous découvrirez comment l'intelligence artificielle conversationnelle peut vous aider à entretenir le lien avec les investisseurs, répondre à leurs questions 24h/24 et maximiser vos chances de boucler votre tour de table.</p>
      </div>

      <div class="col-lg-4">
        <p>

En tant qu’investisseur, vous bénéficiez d’un partage des royalties, recevant une part du chiffre d’affaires des ventes réalisées. 
Nous prenons en charge tous les frais associés, notamment les stands, la communication, les relations publiques, les déplacements, les dépôts en librairies, la logistique et les événements (conférences, formations, panels).
Votre participation a un impact immédiat en démocratisant des pratiques innovantes et utiles dans la finance, tout en vous offrant une opportunité unique de soutenir un projet à fort potentiel tout en générant un revenu passif.
Grâce à notre modèle de crowdfunding en royalties, vous investissez dans la distribution du livre et recevez un pourcentage des revenus sur chaque vente, en fonction de votre contribution.
 </p>
      </div>
      
      <div class="col-lg-4">
        <p>Conçue autour du livre, la campagne "Not All Heroes Wear Capes" veut affirmer que les compétences en IA sont accessibles à toutes et à tous, contrairement aux idées reçues. 
L'enjeu est de les  motiver à mettre ces compétences au profit d'un impact sociétal positif. 
Pour certains montants d'investissement, vous pouvez également choisir une veste qui met l'accent sur une IA responsable et éthique.
Profitez donc d'une collection exclusive de produits dérivés cocréés en collaboration avec 
           WELTARE Couture & Broderie pour la communauté. 

Rejoignez une révolution technologique dans le monde de la finance et partagez les fruits de son succès !
 </p>
      </div>
      
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.paypal.com/ncp/payment/TUT2PSSCBDPQ4" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Je soutiens la campagne !
        </a>
      </div>
    </div>
  </div>
</section>
